/* xm - iPhone SE */
@media (max-width: 575px) {

    #banner .card h3,
    #banner .card button,
    #information .col h4,
    #categories .categories-body h5,
    #productAvailable .item .product-details h2,
    #trendyFoods .trendy-navbar a,
    #shopNow .card button,
    footer .footer-body .submission-area h2 {
        font-size: 18px;
    }

    #trendyFoods .trendy-body .product-name,
    #trendyFoods .trendy-body .col .price-area,
    #blog .blog-body .product-title,
    footer .footer-body .submission-area button {
        font-size: 15px;
    }

    #categories .categories-header h2,
    #trendyFoods .trendy-header h2,
    #blog h2 {
        font-size: 30px;
    }

    #banner .card h1,
    #shopNow .card h2 {
        font-size: 40px;
    }

    #banner .card button {
        width: 150px;
        height: 46px;
    }

    #productAvailable .item {
        position: relative;
        padding-bottom: 45px;
    }

    #productAvailable .item .product-details .progress-bar .availability,
    #productAvailable .item .product-details .progress-bar .progress {
        position: absolute;
        bottom: 10px;
        left: 10%;
        width: 82%;
    }

    #productAvailable .item .product-details .progress-bar .availability {
        bottom: 30px;
    }

    #trendyFoods .trendy-navbar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
    }

    #blog .blog-body .card_2 {
        display: none;
    }
}


/* sm - galaxy tab s4 */
@media (min-width: 576) and (max-width: 767px) {
    .container {
        width: 95%;
    }

    nav ul.mainMenu {
        top: 100px;
    }

    #banner .card h1 {
        font-size: 50px;
        width: 80%;
    }

    #information .container .information-area,
    #categories .categories-body,
    #trendyFoods .trendy-body {
        justify-content: space-evenly;
    }


    #trendyFoods .trendy-navbar ul {
        gap: 40px;
    }

    #trendyFoods .trendy-body .col {
        width: 200px;
        margin-bottom: 0px;
    }

    #trendyFoods .trendy-body .col img {
        height: 220px;
    }

    #shopNow .container {
        margin: 0 auto;
    }

    #shopNow .card h2 {
        font-size: 20px;
    }

    #shopNow .card h2 {
        font-size: 40px;
    }

    #sellingStatus .container .row {
        flex-wrap: wrap;
    }

    #sellingStatus .row .col {
        margin-top: 30px;
    }

    #blog {
        margin: 40px 0;
    }

    #blog .blog-body {
        justify-content: center !important;
    }

    #clientLogo .container .row {
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    footer {
        padding-bottom: 80px;
    }

    footer .footer-head {
        padding: 20px 0 10px 0;
    }

    footer .footer-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    footer .footer-body .navlink-area {
        padding-left: 0;
    }

    footer .footer-body .submission-area h2 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 0px;
    }

    footer .footer-body .submission-area button {
        margin-bottom: 10px;
    }

    footer .footer-body .submission-area .payment-method a {
        margin-right: 10px;
    }
}


/* md - Surface Pro 7 */
@media (max-width: 991px) {
    .container {
        width: 95%;
    }

    header {
        background-color: #fff;
        height: 135px;
    }

    .header_main {
        display: none;
    }

    .search_area {
        height: 70px;
    }

    .search_area .searchBar {
        height: 50px;
        position: absolute;
        right: 140px;
    }

    .search_area .searchBar input {
        visibility: hidden;
    }

    .search_area .searchBar button {
        width: 50px;
        margin-left: 0px;
    }

    nav label.shop-by-category {
        font-size: 20px;
        padding: 0 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav .check-btn {
        display: block;
        transition: .5s ease-in-out;
    }

    nav ul.mainMenu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #28500d;
        top: 134px;
        right: -100%;
        text-align: center;
        transition: .8s ease-in-out;
        z-index: 5;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a {
        color: #fff;
        font-size: 20px;
    }

    nav #check:checked~ul {
        right: 0;
    }

    nav .dropdown ul.dropdown-items {
        position: relative;
        background-color: transparent;
        box-shadow: none;
    }

    nav .dropdown ul.dropdown-items li {
        margin-left: 30%;
    }

    nav .dropdown #subMenu:checked~ul.dropdown-items {
        display: block;
    }

    #banner #slides .slide {
        height: 60%;
    }

    #banner .card {
        width: 90%;
    }

    #banner #bullets {
        top: 500px;
    }

    #information .container .information-area {
        margin-top: -200px;
    }

    #productAvailable .item .img-area {
        width: 200px;
        margin: 15px;
    }

    #productAvailable .item .img-area img {
        height: 200px;
    }

    #productAvailable .item .product-details .product-price {
        margin-bottom: 0px;
    }

    #productAvailable .item .product-details .countdown {
        margin-top: 6px;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px;
    }

    #productAvailable .item .product-details .countdown .box {
        font-size: 10px;
    }

    #productAvailable .item .others-slide {
        display: none;
    }

    #productAvailable #radio-btn {
        visibility: hidden;
    }

    #shopNow .container {
        margin: 0 auto;
    }

    #shopNow .card h2 {
        font-size: 45px;
    }

    #blog .blog-body {
        justify-content: center !important;
    }

    #blog .blog-body .card_1 .productDetails-area .read-more {
        position: static;
        text-align: right;
        margin-top: 0;
    }

    footer {
        padding-bottom: 80px;
    }

    footer .footer-head {
        padding: 20px 0 10px 0;
    }

    footer .footer-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    footer .footer-body .navlink-area {
        padding-left: 0;
    }

    footer .footer-body .submission-area input {
        width: 70%;
    }

    /* sdsd  */
    footer .footer-body .about-area,
    footer .footer-body .navlink-area,
    footer .footer-body .FAQ {
        font-size: 16px;
    }
}


/* lg - Nest Hub */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 95%;
    }

    #productAvailable #radio-btn {
        top: 2320px;
    }

    #blog .blog-body {
        justify-content: space-between;
    }

    #blog .blog-body .col {
        width: 460px;
    }

    #blog .blog-body .card_1 img {
        width: 100%;
        margin-bottom: 10px;
    }

    #blog .blog-body .card_1 .productDetails-area .read-more {
        right: 40px;
    }

    #blog .blog-body .card_2 .productDetails-area {
        margin: auto 16px auto 10px;
    }

    footer .footer-body {
        display: grid;
        grid-template-columns: 4fr 1fr 2fr 4fr;
    }

    footer .footer-body .about-area {
        font-size: 16px;
    }

    footer .footer-body .navlink-area {
        padding-left: 5px;
        font-size: 16px;
    }

    footer .footer-body .FAQ {
        padding-left: 0px;
        font-size: 16px;
    }
}


/* xl - Nest Hub Max */
@media (max-width: 1399.98px) {}