@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

:root {
    --primary-color: #49A010;
    --active-color: #ABD904;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


button {
    background: var(--primary-color);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: grab;
}

i {
    color: var(--primary-color);
}

.container {
    width: 1148px;
    margin: 0 auto;
}

.muted {
    color: #BFBFBF;
}

.border-light {
    border-color: #ffffff;
}

.hr {
    border: .5px solid var(--primary-color);
    opacity: 0.3;
    z-index: -1;
}

.uppercase {
    text-transform: uppercase;
}

.d-none {
    visibility: hidden;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

/*==============common css end======================*/


/*==============header area css start===============*/
header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 6;
}

.header_main {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.header_main .hotline_number img {
    margin-bottom: -2px;
    width: 18px;
}

.filter_area {
    font-size: 24px;
    position: relative;
    overflow: visible;
    display: flex;
    margin-right: -15px;
}

.filter_area ul li a {
    padding: 15px;
    color: #BFBFBF;
    font-size: 24px;
    transition: all .5s ease-in-out;
    padding-top: 10px;
}

.filter_area ul li ul {
    position: absolute;
    display: none;
}

.filter_area ul:hover ul {
    display: block;
    z-index: 1;
}

.filter_area ul li ul li {
    max-width: 120px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(39, 117, 19, 0.445);
    margin-left: 15px;
}

.filter_area ul li ul li:hover a {
    color: var(--active-color);
    transition: all .3s ease-in;
}

.filter_area .mr-66 {
    margin-right: 36px;
}


/*---------------header_main css end---------------*/



/*---------------search_area css start-------------*/
.search_area {
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_area .searchBar {
    display: flex;
    height: 60px;
}

.search_area .searchBar input {
    width: 400px;
    border: 1px solid var(--primary-color);
}

.search_area .searchBar input:focus {
    outline: none;
}

.search_area .searchBar input[type=text] {
    padding: 16.5px;
}

.search_area .searchBar ::placeholder {
    color: var(--primary-color);
}

.search_area .searchBar button {
    width: 60px;
    margin-left: -5px;
}

.search_area .cart :last-child {
    margin-left: 20px;
}

.search_area .notification-area .item {
    position: relative;
    display: inline-block;
}

.search_area .notification-area .notify-badge {
    position: absolute;
    right: -5px;
    top: -5px;
    background: var(--primary-color);
    text-align: center;
    border-radius: 50%;
    color: white;
    width: 15px;
    height: 15px;
    font-size: 10px;
    z-index: 1;
}

.search_area .notification-area .wishlist .liked {
    position: absolute;
    left: -2px;
    top: 0;
    display: none;
    z-index: 0;
}

.search_area .notification-area .wishlist:hover img {
    display: block;
}

/*---------------search_area css end---------------*/




/*---------------navbar_area css start-------------*/

nav {
    box-sizing: border-box;
}

label.shop-by-category {
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    padding: 0 37px;
    font-weight: bold;
    float: left;
    background-color: var(--primary-color);
}

nav ul li {
    display: inline-block;
    line-height: 57px;
    margin-left: 48px;
}

nav ul li a {
    color: var(--primary-color);
    font-size: 24px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

nav a.active,
nav a:hover {
    color: var(--active-color);
    transition: .3s ease-in;
}

nav .check-btn {
    font-size: 24px;
    color: var(--primary-color);
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

nav #check {
    display: none;
}

/* ==========subMenu area css==========  */
nav .dropdown #subMenu {
    display: none;
}

nav .dropdown ul.dropdown-items {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(39, 117, 19, 0.445);
    display: none;
}

nav .dropdown .dropdown-items li {
    display: block;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
}

nav .dropdown #subMenu:checked~ul.dropdown-items {
    display: block;
}

/*---------------navbar_area css end---------------*/




/*==============header area css end================*/




/*==============banner section css start===========*/
#banner {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#bannerOverflow {
    overflow: hidden;
}

#banner .card {
    width: 744px;
    height: 418px;
    background: hsla(0, 0%, 100%, 0.51);
    border-radius: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner .card h3 {
    color: var(--primary-color);
    font-size: 24px;
    letter-spacing: 5px;

}

#banner .card h1 {
    color: #000;
    font-size: 55px;
    margin: 20px auto 30px auto;
}

#banner .card button {
    width: 250px;
    height: 66px;
    font-size: 24px;
}

#banner input[type=radio] {
    display: none;
}

#banner label {
    cursor: pointer;
    text-decoration: none;
}

#banner #slide1:checked~#bannerSlides .inner {
    margin-left: 0;
}

#banner #slide2:checked~#bannerSlides .inner {
    margin-left: -100%;
}

#banner #slide3:checked~#bannerSlides .inner {
    margin-left: -200%;
}

#banner #slide4:checked~#bannerSlides .inner {
    margin-left: -300%;
}

#banner #bannerSlides .inner {
    transition: margin-left .8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    height: 629px;
}

#banner #bannerSlides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#banner #bannerSlides .slide_1 {
    background: #00171F;
    background-image: url(../img/banner_01.png);
}

#banner #bannerSlides .slide_2 {
    background: #003459;
    background-image: url(../img/banner_02.jpg);
}

#banner #bannerSlides .slide_3 {
    background: #007EA7;
    background-image: url(../img/banner_03.jpg);
}

#banner #bannerSlides .slide_4 {
    background: #00A8E8;
    background-image: url(../img/banner_04.jpg);
}

#banner #bullets {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 860px;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#banner #bullets label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: rgba(74, 160, 16, 0.30);
    margin: 0 10px;
}


.checked,
#banner #slide1:checked~#bullets label:nth-child(1),
#banner #slide2:checked~#bullets label:nth-child(2),
#banner #slide3:checked~#bullets label:nth-child(3),
#banner #slide4:checked~#bullets label:nth-child(4) {
    background: var(--primary-color);
}


/*==============banner section css end=============*/



/*==============information section css start========*/
#information {
    display: flex;
}

#information .container .information-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 100px 0;
}

#information .col {
    text-align: center;
    margin: 20px 0;
}

#information .col h4 {
    font-size: 24px;
    padding: 16px;
}

#information .col p {
    font-size: 16px;
}

/*==============information section css end==========*/




/*==============Categories section css start========*/
#categories {
    background: rgba(74, 160, 16, 0.11);
    display: flex;
    align-items: center;
    padding: 30px 0;
}

#categories .categories-header h2 {
    font-size: 45px;
    text-align: center;
}

#categories .categories-body {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 16px;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}

#categories .categories-body img {
    width: 178px;
    height: 178px;
    margin-top: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid transparent;
    transition: .5s ease-in-out;
}

#categories .categories-body a:hover img {
    border: 1px solid var(--primary-color);
    transition: .3s ease-in;
}

#categories .categories-body h5 {
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
}

/*==============Categories section css end==========*/




/*==============productAvailable section css start=========*/
#productAvailable .itemDetails {
    width: 100%;
    max-height: 372px;
    border: 1px solid var(--primary-color);
    margin: 120px auto;
    border-radius: 0 50px;
}

#productAvailable .item {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    justify-content: center;
    align-items: center;
}

#productAvailable .item .img-area {
    width: 275px;
    margin: 30px;
    position: relative;
}

#productAvailable .item .img-area img {
    width: 100%;
    height: 312px;
    background-size: cover;
    border-radius: 0 50px;
}

#productAvailable .item .img-area .product-type {
    width: 101px;
    padding: 5px;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#productAvailable .item .product-details h2 {
    font-size: 32px;
}

#productAvailable .item .product-details .product-price {
    display: flex;
    gap: 22px;
    font-weight: bold;
    margin-bottom: 6px;
}

#productAvailable .item .product-details .product-price .new-price {
    color: var(--primary-color);
}

#productAvailable .item .product-details .progress-bar .availability {
    display: flex;
    justify-content: space-between;
}

#productAvailable .item .product-details .progress-bar .progress {
    padding: 0;
    width: 100%;
    height: 12px;
    overflow: hidden;
    background: #e5e5e5;
}

#productAvailable .item .product-details .progress-bar .progress .bar {
    position: relative;
    float: left;
    min-width: 1%;
    height: 100%;
    background: var(--primary-color);
}

#productAvailable .item .product-details .countdown {
    margin-top: 20px;
    display: flex;
    gap: 18px;
}

#productAvailable .item .product-details .countdown .box {
    width: 59px;
    box-sizing: border-box;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--primary-color);
}

#productAvailable .item .others-slide img {
    width: 131px;
    height: 148px;
    background-size: cover;
    border-radius: 0 50px;
    margin: 30px 30px auto 30px;
}

/* slider area css  */

#productAvailable input[type=checkbox] {
    display: none;
}

#productAvailable label {
    cursor: pointer;
    text-decoration: none;
}

#productAvailable #slides {
    position: relative;
}

#productAvailable #overflow {
    overflow: hidden;
}

#productAvailable #slideItem1:checked~#slides .inner {
    margin-left: 0;
}

#productAvailable #slideItem2:checked~#slides .inner {
    margin-left: -100%;
}

#productAvailable #slideItem3:checked~#slides .inner {
    margin-left: -200%;
}

#productAvailable #slideItem4:checked~#slides .inner {
    margin-left: -300%;
}

#productAvailable #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
}

#productAvailable #slides .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#productAvailable #radio-btn {
    top: 2100px;
    text-align: center;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#productAvailable #radio-btn label {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(74, 160, 16, 0.30);
    margin: 0 10px;
}


#slideItem1:checked~#radio-btn label:nth-child(1),
#slideItem2:checked~#radio-btn label:nth-child(2),
#slideItem3:checked~#radio-btn label:nth-child(3),
#slideItem4:checked~#radio-btn label:nth-child(4) {
    background: var(--primary-color);
}

/*==============productAvailable section css end==========*/




/*==============Trendy Foods section css start========*/
#trendyFoods {
    display: flex;
    align-items: center;
}

#trendyFoods .trendy-header h2 {
    font-size: 45px;
    text-align: center;
}

#trendyFoods .trendy-navbar ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 16px auto 24px auto;
}

#trendyFoods .trendy-navbar a {
    transition: .5s ease-in-out;
    font-size: 24px;
}

#trendyFoods .trendy-navbar a:hover {
    color: var(--primary-color);
    transition: .3s ease-in;
    border-bottom: 1px solid var(--primary-color);
}

#trendyFoods .trendy-navbar .active {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

#trendyFoods .trendy-body {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

#trendyFoods .trendy-body .col {
    width: 275px;
    position: relative;
    margin-bottom: 15px;
}

#trendyFoods .trendy-body .col img {
    width: 100%;
    height: 311px;
    background-size: cover;
    border-radius: 0 50px;
    border: 1px solid transparent;
    transition: .5s ease-in-out;
}

#trendyFoods .trendy-body .col img:hover {
    border: 1px solid var(--primary-color);
    transition: .3s ease-in;
}

#trendyFoods .trendy-body .product-type {
    width: 76px;
    padding: 5px;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#trendyFoods .trendy-body .product-cart {
    width: 100%;
    background-color: rgb(73, 160, 16, 45%);
    padding: 17.05px 0;
    text-align: center;
    position: absolute;
    bottom: 113px;
    display: none;
}

#trendyFoods .trendy-body .col:hover .product-cart {
    display: block;
}

#trendyFoods .trendy-body .product-cart .bi {
    font-size: 22.99px;
    color: #fff;
    margin: 16.51px;
}

#trendyFoods .trendy-body .product-name {
    font-size: 22px;
}

#trendyFoods .trendy-body .col .price-area {
    font-size: 22px;
}

#trendyFoods .trendy-body .col .price-area .current-price {
    color: var(--primary-color);
    float: left;
    margin-right: 22px;
}

/*==============Trendy Foods section css end==========*/




/*==============shopNow section css start===========*/
#shopNow {
    background-image: url(../img/shopNow.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 427px;
}

#shopNow .container {
    height: 100%;
    margin: 120px auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

#shopNow .card {
    width: 744px;
    height: 418px;
}

#shopNow .card h3 {
    color: var(--primary-color);
    font-size: 24px;
    margin-top: 60px;
}

#shopNow .card h2 {
    color: #000;
    font-size: 55px;
    margin: 20px auto 30px auto;
}

#shopNow .card button {
    width: 250px;
    height: 66px;
    font-size: 24px;
}

/*==============shopNow section css end=============*/




/*==============sellingStatus section css start=====*/

#sellingStatus {
    display: flex;
}

#sellingStatus .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-top: 30px;

}

#sellingStatus .product-details .row img {
    max-width: 80px;
}

#sellingStatus .product-details .row .product-details .product-price {
    color: var(--primary-color);
    display: flex;
    gap: 20px;
}

/*==============sellingStatus section css end=======*/




/*==============Blog section css start=====*/
#blog {
    margin: 120px 0;
    display: flex;
}

#blog h2 {
    font-size: 43px;
    text-align: center;
}

#blog .blog-body {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 15px;
    margin-top: 24px;
}

#blog .blog-body .col {
    width: 566px;
}

#blog .blog-body .card_1 img {
    width: 100%;
    height: 288px;
    background-size: cover;
    margin-bottom: 16px;
}

#blog .blog-body .card_2 {
    display: flex;
    margin: -10px auto 16px auto;
}

#blog .blog-body .card_2 img {
    width: 214px;
}

#blog .blog-body .product-title {
    font-size: 22px;
    color: var(--primary-color);
}

#blog .blog-body .productDetails-area {
    gap: 22px;
    position: relative;
}

#blog .blog-body .card_1 .productDetails-area {
    margin-left: 15px;
}

#blog .blog-body .card_2 .productDetails-area {
    margin: auto 16px auto -100px;
}

#blog .blog-body .productDetails-area .productDetails {
    margin-top: 10px;
    line-height: 25px;
    font-size: 14px;
}

#blog .blog-body .col .productDetails-area .read-more {
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}

#blog .blog-body .card_1 .productDetails-area .read-more {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*==============Blog section css end=======*/




/*==============clients-area section css start=====*/
#clients-area {
    display: flex;
    align-items: center;
}

#clients-area .container {
    border: 1px solid var(--primary-color);
    border-radius: 0 50px;
}

#clients-area .container .row {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    align-content: center;
    margin: 32px auto;
}

/*==============clients-area section css end=======*/




/*==============footer area css start=====*/
footer {
    min-height: 511px;
    margin: 120px auto 0 auto;
    background-color: rgb(73, 160, 16, 10%);
    position: relative;
}

footer .footer-head {
    padding: 100px 0 37.3px 0;
}

footer .footer-body {
    display: grid;
    grid-template-columns: 372px 1fr 1fr 372px;
}

footer .footer-body .about-area .social-link {
    margin: 39px 0 17px 0;
}

footer .footer-body .social-icon .fa-brands {
    font-size: 25px;
}

footer .footer-body .navlink-area {
    padding-left: 69px;
}

footer .footer-body .FAQ {
    padding-left: 10px;
}

footer .footer-body ul li {
    margin-bottom: 16px;
}

footer .footer-body ul li a {
    color: #000;
    transition: all .5s ease-in-out;
}

footer .footer-body ul li a:hover {
    color: var(--primary-color);
    transition: all .2s ease-in;
}

footer .footer-body .submission-area h2 {
    font-size: 24px;
    font-weight: 400;
    margin: -46px 0 16px 0;
}

footer .footer-body .submission-area input {
    width: 100%;
    border: 1px solid var(--primary-color);
    background: transparent;
}

footer .footer-body .submission-area input:focus {
    outline: none;
}

footer .footer-body .submission-area input[type=email] {
    padding: 16px 14px 14px 13px;
}

footer .footer-body .submission-area ::placeholder {
    font-size: 16px;
    color: rgb(73, 160, 16, 49%);
}

footer .footer-body .submission-area button {
    width: 140px;
    height: 50px;
    font-size: 20px;
    margin: 16px 0 31px 0;
}

footer .footer-body .submission-area .payment-method a {
    margin-right: 20px;
}

footer .footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #49A010;
    position: absolute;
    bottom: 0;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
}

footer .footer p {
    padding: 20px 5px;
    color: #fff;
    font-size: 14px;
}

footer .footer .bi-heart-fill {
    color: #fff;
}

/*==============footer area css end=======*/